<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->
<ul>
  {{#each users}}
    <li>
      <h3>Name: {{profile.firstname profile.lastname}}</h3>
      <p>Username: {{profile.username}}</p>
      {{!-- <p>Location: {{location}}</p>
      <h4>Education:</h4>
      <p>College: {{college}}</p>
      <p>Field / Degree: {{field / degree}}</p>
      <h4>Experience:</h4>
      <p>Title: {{title}}</p>
      <p>Company: {{company}}</p>
      <p>Job Description: {{description}}</p> --}}
    </li>
  {{/each}}
</ul>
